@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Gothic+Expanded+One&display=swap');
body{
    background-color: #495057;
    color:#e9ecef;
    font-family:  'Montserrat', sans-serif;
    font-size: 1.2rem;  
    line-height: 1.5;
    margin: 0;  
}
.title{
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
        
}
.subtitle{
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
}
.login-form{
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    background-color: #343a40;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #495057;
    color: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 10px;
}
#submit:hover{
    background-color: #e9ecef;
    color: #495057;
    cursor: pointer;
    transition: 0.5s;
}
input{
    background-color: #343a40;
    color: #e9ecef;
    border: 1px solid #495057;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    width: 100%;
}