/* General body styling */
body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: #e9ecef;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Title and subtitle styling */
.title, .subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/* Login form styling */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Input fields */
input {
    background-color: #343a40;
    color: #e9ecef;
    border: 1px solid #495057;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    width: 100%;
}

input:focus {
    outline: none;
    border-color: #e9ecef;
    background-color: #495057;
    transition: 0.3s;
}

/* Submit button */
#submit {
    background-color: #495057;
    color: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    transition: 0.3s;
    width: 100%;
}

#submit:hover {
    background-color: #e9ecef;
    color: #495057;
    cursor: pointer;
    transform: scale(1.05);
}

/* Footer styling */
footer {
    text-align: center;
    padding: 1rem 0;
    color: #e9ecef;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    .login-form {
        width: 95%;
        padding: 1.5rem;
    }

    .ft {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .subtitle p {
        font-size: 1rem;
    }

    .login-form {
        width: 100%;
        padding: 1rem;
    }

    #submit {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}